<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficas con chart.js | By Parzibyte</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1> Gráfica con estilos</h1>
  
    <canvas id="grafica"></canvas>
    <script src="main.js"></script>
</body>

</html>



