<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar ModeloCT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/listarCT">Gestionar ModeloCT</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Registrar ModeloCT<span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">Registro de ModeloCT</h1>
                <div class="card-body">
                    <form th:action="@{/guardarCT}" th:object="${modeloct}" method="post">
                      
                    <div class="form-group">
                        <label for="">nombre :</label>
                        <input type="text" name="nombre" th:field="*{nombre}" class="form-control"
                            placeholder="Introduzca el nombre" required>

                    </div>
                   
                    <div class="form-group">
                        <label for="">apellidos :</label>
                        <input type="text" name="apellido" th:field="*{apellido}" class="form-control"
                            placeholder="Introduzca los apellidos" required>

                    </div>
                    <div class="form-group">
                        <label for="">fecha :</label>
                        <input type="date" name="fecha" th:field="*{fecha}" class="form-control"
                            placeholder="Introduzca la fecha" required>

                    </div>

                    <div class="form-group">
                        <label for="">CI :</label>
                        <input type="number" name="ci" th:field="*{ci}" class="form-control"
                            placeholder="Introduzca el CI" required>

                    </div>
                    <div class="form-group">
                        <label for="">evaluacion :</label>
                        <input type="text" name="evaluacion" th:field="*{evaluacion}" class="form-control"
                            placeholder="Introduzca la evaluación" required>

                    </div>
                    <div class="form-group">
                        <label for="">categoria :</label>
                        <input type="text" name="categoria" th:field="*{categoria}" class="form-control"
                            placeholder="Introduzca la categoria" required>

                    </div>
                   
                   
                </div>
                <div class="box-footer">
                    <button onclick=" return confirm('Accion realizada con exito');" class="btn btn-success">Guardar</button>
                </div>
            </form>
            </div>

        </div>

    </div>

</body>

</html>